<div id=album-wrapper>

  <div class="row album">
    <% @cols = 1 %>
    <% if Picture.all.size > 0 %>
    <% @pictures.each do |picture| %>
    <% if picture.picture_remote_url? %>
    <% if @cols <= 4 %>
    <a href="<%=album_picture_path(picture.album_id, picture.id)%>">
      <div class="col-md-3">
        <div class="image-wrapper" style="background-image: url('<%=picture.picture_remote_url%>'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
      </div>
    </a>
    <% @cols += 1 %>
  <% else %>
  </div>
  <div class="row album">
    <a href="<%=album_picture_path(picture.album_id, picture.id)%>">
      <div class="col-md-3">
        <div class="image-wrapper" style="background-image: url('<%=picture.picture_remote_url%>'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
      </div>
    </a>
    <% @cols = 2 %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </div>
</div>
