// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---- grid ---- */

#album-wrapper {
  padding: 10px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
  // margin-right: 10px;
}

.album img{
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 auto;
  box-shadow: 10px 10px black;
}

.album {
  margin-bottom: 30px;
  width: 100%;
  // box-shadow: 10px 10px 10px #888888;
}

.image-wrapper {
  height: 159px;
  overflow: hidden;
  box-shadow: 10px 10px black;
  // width: 90%;
  // padding-right: 5px;
  // padding: 0px;
}
