// Place all the styles related to the album controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---- grid ---- */

.album img{
  position: relative;
  top: 0px;
  max-height: 200px;
  max-width: 100%;
  margin: 0 auto;
}

.album {
  margin-bottom: 30px;
}

.grid-item, .grid-sizer { width: 20%; }
.grid-item--width2 { width: 40%; }
