// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.black-txt {
  color: black;
}

.background-white {
  background-color: white;
}

.home_image img {
  max-height: 350px;
  max-width: 600px;
}

#home_img a:hover {
  text-decoration: none;
}
