// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#gif_icon {
  // background-color: white;
  width: 52px;
  height: 52px;
}

.picture_div {
  // height: 80%;
  overflow: hidden;
  // max-width: 550px;
  // max-height: 380px;
}

.picture_show_image {
  margin-left: 33px;
}
.picture_div img {
  // max-width: 600px;
  // max-height: 380px;
  // overflow: hidden;
  height: 80%;
}

canvas {
  color: green;
}
