<div class="row confidence">
  <% if flash[:confident] %>
  <div class="col-md-8 col-md-offset-2" id="confident"><h3><i class="fa fa-info-circle" aria-hidden="true"></i>
<%= flash[:confident] %></h3></div>
  <% elsif flash[:maybe] %>
  <div class="col-md-8 col-md-offset-2" id="maybe"><h3><i class="fa fa-info-circle" aria-hidden="true"></i>
<%= flash[:maybe] %></h3></div>
  <% elsif flash[:unconfident] %>
  <div class="col-md-8 col-md-offset-2" id="unconfident"><h3><i class="fa fa-info-circle" aria-hidden="true"></i>
<%= flash[:unconfident] %></h3></div>
  <% else %>
  <% end %>
</div>
