<div class="container background_div">
  <div class="row upload_row">
    <div class="col-md-6 col-md-offset-3 form-group upload_form_div">
      <%= form_tag "/uploads", id: "uploadForm", method: "get", remote: true do %>
      <%= text_field_tag :image_url, "", placeholder:'Enter url to an image here. . .', class:'form-control', autofocus: :true %>
      <% end %>
    </div>
  </div>
  <div class="loading"><%=image_tag('Loading4.gif')%></div>
  <div class="row">
    <div class="confidence_div col-md-12">

    </div>
  </div>
  <div class="row image_div">

  </div>
</div>
